/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Marvel', sans-serif;
font-family: 'Anaheim', sans-serif;
font-family: 'Wire One', sans-serif;
*/

html body {
	background-color: #514C62;
	height: 100%;
	color: white;
}

.wrap {
	min-height: 100%;
	/*height: 100%;*/
	border: 1px solid red;
	margin: 0 auto;
}

/* title: headline & byline */

.title {
	height: 140px;
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid black;
}

#headline {
	font-family: 'Wire One', sans-serif;
	font-style: italic;
	font-size: 3em;
	font-weight: 900;
	padding: 10px;
}

#byline {
	font-family: 'Wire One', sans-serif;
	font-style: italic;
	font-size: 2em;
	padding: 10px;
}

/* page: comic panels */

.page {
	height: 100%;
	width: 800px;
	margin: 0 auto;
	border: 1px solid blue;
	overflow: auto;
	padding-bottom: 100px; /* footer */
}

/*.div {
	background-color: #D0D8FF;
}*/

#panel1 {
	height: 280px;
	width: 780px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
}

#panel2 {
	height: 280px;
	width: 480px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
}

#panel3 {
	height: 280px;
	width: 280px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
}

#panel4 {
	height: 280px;
	width: 280px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
}

#panel5 {
	height: 280px;
	width: 480px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
}

/* footer */

#footer {
	height: 100px;
	position: relative;
	margin-top: -100px;
	clear: both;
}