html body {
	background-color: #514C62;
	height: 100%;
	color: white;
	font-family: 'Wire One', sans-serif;
}

.wrap {
	min-height: 100%;
	margin: 0 auto;
}

/* title: headline & byline */

.title {
	height: 140px;
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

#headline {
	font-style: italic;
	font-size: 3em;
	font-weight: 900;
	padding: 10px;
}

#byline {
	font-style: italic;
	font-size: 2em;
	padding: 10px;
}

/* page: comic panels */

.page {
	height: 100%;
	width: 800px;
	margin: 0 auto;
	overflow: auto;
	padding-bottom: 100px; /* footer */
}

#panel1 {
	height: 280px;
	width: 780px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image1 {
	position: absolute;
	width: 100%;
	top: -50px;
}

#panel2 {
	height: 280px;
	width: 480px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image2 {
	position: absolute;
	width: 100%;
}

#panel3 {
	height: 280px;
	width: 280px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image3 {
	position: absolute;
	height: 100%;
}

#panel4 {
	height: 280px;
	width: 280px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image4 {
	position: absolute;
	height: 100%;
	left: -30px;
}

#panel5 {
	height: 280px;
	width: 480px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image5 {
	position: absolute;
	width: 120%;
	top: -90px;
}

/* comic text styles */

.narration {
  font-size: 1.5em;
  padding: 10px;
  color: white;
  margin: 10px;
  background-color: #514C62;
}

.action {
  color: #514C62;
  font-style: italic;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 100%;
  margin: 20px;
  text-shadow: 2px 2px #ffffff;
}

/* comic texts positions in panel */

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}

.top {
  position: absolute;
  top: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

/* stacking elements: image, narration, action */
.infront{
  z-index: 1;
}

/* footer */

#footer {
	height: 100px;
	position: relative;
	margin-top: -100px;
	clear: both;
}