/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Marvel', sans-serif;
font-family: 'Anaheim', sans-serif;
font-family: 'Wire One', sans-serif;
*/

html body {
	background-color: #514C62;
	height: 100%;
	color: white;
}

.wrap {
	min-height: 100%;
	/*height: 100%;*/
	/*border: 1px solid red;*/
	margin: 0 auto;
}

/* title: headline & byline */

.title {
	height: 140px;
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	/*border: 1px solid black;*/
}

#headline {
	font-family: 'Wire One', sans-serif;
	font-style: italic;
	font-size: 3em;
	font-weight: 900;
	padding: 10px;
}

#byline {
	font-family: 'Wire One', sans-serif;
	font-style: italic;
	font-size: 2em;
	padding: 10px;
}

/* page: comic panels */

.page {
	height: 100%;
	width: 800px;
	margin: 0 auto;
	/*border: 1px solid blue;*/
	overflow: auto;
	padding-bottom: 100px; /* footer */
}

/*.div {
	background-color: #D0D8FF;
}*/

#panel1 {
	height: 280px;
	width: 780px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image1 {
	position: absolute;
	width: 100%;
	top: -50px;
}

#panel2 {
	height: 280px;
	width: 480px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image3 {
	position: absolute;
	height: 100%;
}

#panel3 {
	height: 280px;
	width: 280px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image2 {
	position: absolute;
	width: 100%;
}

#panel4 {
	height: 280px;
	width: 280px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image5 {
	position: absolute;
	width: 120%;
	top: -90px;
}

#panel5 {
	height: 280px;
	width: 480px;
	background-color: #D0D8FF;
	border: 10px solid #514C62;
	float: left;
	overflow: hidden;
	position: relative;
}

#image4 {
	position: absolute;
	height: 100%;
	left: -30px;
}

/* texts */

.narration {
		font-family: 'Wire One', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
    padding: 15px;
    color: white;
    margin: 10px;
    background-color: #2b2b2b;
}

.bigtext {
		font-family: 'Wire One', sans-serif;
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    margin: 20px;
    text-shadow:2px 2px #2b2b2b;
}

/* These classes can position text and images within the panel.*/

.left {
    position:absolute;
    left: 0;
}

.right {
    position:absolute;
    right: 0;
}

.top {
    position:absolute;
    top: 0;
}

.bottom {
    position:absolute;
    bottom: 0;
}


/* stacking elements */

.inback {
    z-index: 1;
}

.inmiddle {
    z-index: 2;
}

.infront{
    z-index: 3;
}

/* footer */

#footer {
	height: 100px;
	position: relative;
	margin-top: -100px;
	clear: both;
}