body {
	background-image: linear-gradient(to right, black 80%, white 100%), url("images/piano.jpg");
  background-blend-mode: screen;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-color: #ABABAB;
	text-align: center;
}

#wrapper {
	margin: auto;
	position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 250px;
}

/* page title */
span {
	font-family: 'Molle', cursive;
	font-size: 3.5em;
	text-align: center;
}

#gradient {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF5353), color-stop(0.15, #FF9C42), color-stop(0.3, #F9BB00), color-stop(0.45, #6CA870), color-stop(0.6, #5B5BFF), color-stop(0.75, #A27AFE), color-stop(0.9, #BC2EBC), color-stop(1, #FF5353));
	background-image: gradient(linear, left top, right top, color-stop(0, #FF5353), color-stop(0.15, #FF9C42), color-stop(0.3, #F9BB00), color-stop(0.45, #6CA870), color-stop(0.6, #5B5BFF), color-stop(0.75, #A27AFE), color-stop(0.9, #BC2EBC), color-stop(1, #FF5353));
	color: transparent;
  -webkit-background-clip: text;
	background-clip: text;
}

/* music box */
#music_box {
	height: 120px;
	width: 672px;
	margin: auto;
	margin-top: 50px;
}

.box {
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	height: 80px;
	width: 80px;
}

/* notes */

/* c: red */
#c {
	border: 3px solid #FF7373;
	border-radius: 3px;
	background-color: #FFC8C8;
	opacity: 0.65;
}

#c:hover, #c:active {
	background-color: #FF7373;
	opacity: 0.65;
	cursor: pointer;
}

/* d: orange */
#d {
	border: 3px solid #FFBD82;
	border-radius: 3px;
	background-color: #FFE2C8;
	opacity: 0.65;
}

#d:hover, #d:active {
	background-color: #FFBD82;
	opacity: 0.65;
	cursor: pointer;
}

/* e: yellow */
#e {
	border: 3px solid #FFD34F;
	border-radius: 3px;
	background-color: #FFF1C6;
	opacity: 0.65;
}

#e:hover, #e:active {
	background-color: #FFD34F;
	opacity: 0.65;
	cursor: pointer;
}

/* f: green */
#f {
	border: 3px solid #93BF96;
	border-radius: 3px;
	background-color: #DBEADC;
	opacity: 0.65;
}

#f:hover, #f:active {
	background-color: #93BF96;
	opacity: 0.65;
	cursor: pointer;
}

/* g: blue */
#g {
	border: 3px solid #8282FF;
	border-radius: 3px;
	background-color: #C6C6FF;
	opacity: 0.65;
}

#g:hover, #g:active {
	background-color: #8282FF;
	opacity: 0.65;
	cursor: pointer;
}

/* a: indigo */
#a {
	border: 3px solid #B89AFE;
	border-radius: 3px;
	background-color: #DDCEFF;
	opacity: 0.65;
}

#a:hover, #a:active {
	background-color: #B89AFE;
	opacity: 0.65;
	cursor: pointer;
}

/* b: violet */
#b {
	border: 3px solid #DD75DD;
	border-radius: 3px;
	background-color: #F0C4F0;
	opacity: 0.65;
}

#b:hover, #b:active {
	background-color: #DD75DD;
	opacity: 0.65;
	cursor: pointer;
}



